<launch>
              <node name="stage" pkg="stage_ros" type="stageros"
	       args="$(find lab1)/world/playground.world" >
              <remap from ="/base_scan" to="/robot_0/base_scan" />
              <remap from ="/cmd_vel" to="/robot_0/cmd_vel" />
              </node>

             <node name="controller" pkg="lab1" type="run" output="screen"  >
	     </node>
</launch>


